
.toolbar_loginfo {
  --background: black;
  text-align: center;
  color: green;
}
.content_loginfo, p {
  padding: 10px;
  --background: rgba(0, 0, 0, 0.91);
  border-bottom: white;
  border-bottom: 3px;
  color: green;
}


