

ion-content{
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  --background: none;
  background-image: url('../../../assets/background_other.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.toolbar_review {
  --background: linear-gradient(9deg, rgba(4,153,242,1) 0%, rgba(38,245,150,1) 74%);
}

ion-title{
  width: 100%;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-shadow: green 1px 0 10px;
  text-align: center;
  padding: 0;
}
